body {
  background-image: url(./background.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container {
  text-align: center;
  backdrop-filter: blur(5px);
  width: 100vw;
}

.clock {
  padding-top: 5px;
  margin-bottom: 0;
  color: brown;
  font-size: 5rem;
  text-shadow: 3px 4px 10px black;
  font-weight: bold;
  font-family: monospace;
}
.date {
  display: flex;
  justify-content: center;
  margin-right: 50px;
  margin-top: 0;
  text-shadow: 3px 4px 10px black;
  font-weight: bold;
  font-family: monospace;
  color: rgb(215, 212, 48);
  font-size: 1.5rem;
}
